<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="#"><span class="change-color">Water Man</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><span class="change-color"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"><span class="change-color"><i class="fa fa-info"></i> About</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services"><span class="change-color"><i class="fa fa-tasks"></i> Services</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us"><span class="change-color"><i class="fa fa-phone"></i> Contact Us</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner text-center">
            <div class="carousel-item active">
                <div class="car-item p-5 car-item1">
                    <h1 class="mt-3">Water-Man</h1>
                    <h4>Experts giving best RO repair services at minimum cost in Kolkata.</h4>
                </div>
            </div>
            <div class="carousel-item">
                <div class="car-item p-5 car-item2">
                    <h1>Experienced Staff</h1>
                    <br>
                    <h4>
                        • Kent • AquaGaurd • PureIt • A.O. Smith <br> 
                        • LivPure • AquaGrand • AquaFresh and many more.
                    </h4>
                </div>
            </div>
            <div class="carousel-item">
                <div class="car-item p-5 car-item3">
                    <h2>Water Purifier Service, Kolkata</h2>
                    <h3>(Excellent Service)</h3>
                    <h3>
                        Kolkata(South)
                        • Baruipur • Sonarpur • Garia • patuli <br>
                        • Naktala • Bansdroni • Baghajatin • Jadavpur <br> 
                        • Dhakuria • Ballygunge • Tollygunge • Behala • Kalighat <br>
                    </h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="pt-5">
        <div class="home-page">
            <div class="card w-100 bg-transparent">
                <div class="card-body">
                    <h1 class="card-title text-center"><span class="change-color">Water-Man</span></h1>
                    <hr>
                    <div class="row">
                        <div class="col-lg-7 col-sm-12">
                            <h3 class="">Get connected with reputed water purifier services in Kolkata at minimum cost.</h3>
                            <br>
                            <h5 class="">
                                We provide fast and effective services at minimum range.
                            </h5>
                            <h5 class="">
                                Locations where we serve include Baruipur, Sonarpur, Garia, Baghajatin, Jadavpur, Dhakuria, Ballygunge, Tollygunge, Behala, Bansdroni, Naktala.                        
                            </h5>
                            <h5 class="">
                                Company machines available with excellent services in various machines like Kent, AquaGaurd, PureIt, A.O. Smith, LivPure, AquaGrand, AquaFresh and many more.
                            </h5>
                        </div>
                        <div class="mt-3 col-lg-3 col-sm-12">
                            <img class=" mx-4 img1" src="/images/ro-water-purifier.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 card bg-transparent">
        <div class="text-center my-3">
            <h1><span class="change-color">Top Services</span></h1>
        </div>
        <div class="top-service row container p-0 m-0">
            <div class="col-lg-3 col-sm-12 px-3 py-3">
                <div class="card px-4 py-3">
                    <div class="card-body">
                        <h5 class="card-title">Filter Change</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Replacing Filters </h6>
                        <hr>
                        <p class="card-text">A filter is your water purifier's best defence system, filtering harmful contaminants from polluting your drinking water.</p>
                        <hr>
                        <a href="/services" class="card-link">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 px-3 py-3">
                <div class="card px-4 py-3">
                    <div class="card-body">
                        <h5 class="card-title">Installation</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Purifier Installation</h6>
                        <hr>
                        <p class="card-text">We install purifiers at minimum cost of all brands including Kent, AquaGaurd, PureIt, A.O. Smith, LivPure, AquaGrand, AquaFresh and many more.</p>
                        <hr>
                        <a href="/services" class="card-link">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 px-3 py-3">
                <div class="card px-4 py-3">
                    <div class="card-body">
                        <h5 class="card-title">Uninstallation</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Purifier Uninstallation</h6>
                        <hr>
                        <p class="card-text">
                            Want to get rid of your old purifier...
                            Just ping us and we will do it for you safely with all required measures.
                            Best Service across Kolkata is delivered by our experts.
                        </p>
                        <hr>
                        <a href="/services" class="card-link">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 px-3 py-3">
                <div class="card px-4 py-3">
                    <div class="card-body">
                        <h5 class="card-title">Machine Sales</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Get parts and machines</h6>
                        <hr>
                        <p class="card-text">
                            Get machine and parts for your damaged parts with installation facility available as well at minimum cost and 1 year warranty by our expert professionals.
                        </p>
                        <hr>
                        <a href="/services" class="card-link">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="pt-4 mt-md-5 pt-md-5 px-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; Waterman.inc</small>
          </div>
          <div class="col-6 col-md">
            <h5>Navigation</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="http://localhost:5040">Home</a></li>
              <li><a class="text-muted" href="http://localhost:5040/about">About</a></li>
              <li><a class="text-muted" href="http://localhost:5040/Services">Services</a></li>
              <li><a class="text-muted" href="http://localhost:5040/contact-us">Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
              <li><i class="fa fa-phone"></i>  +919711799216</li>
              <li><i class="fa fa-envelope"></i>  puspendu156@gmail.com</li>
              <li><i class="fa fa-building"></i> Narendrapur Station Road, Madhu bari opposite, Sonargaon 3 gate, Housing complex, kolkata-700150</li>
            </ul>
          </div>
        </div>
      </footer>

    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>

</body>
</html>
