@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
    animation: back 10s infinite;
    font-family: 'Varela Round', sans-serif;
}

.navbar-brand {
    font-family: 'Acme', sans-serif;
    font-size: larger;
}

.home-page {
    background-color: #f8f9fa;
}

.car-item1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg1.jpg);
}

.car-item2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg2.webp);
}

.car-item3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg3.jpg);
}

.car-item {
    height: 50vh;
    background-position: center;
    background-size: cover;
    color: white;
}

.img1 {
    height: 60%;
}

.top-service div {
    padding: 0;
}

.about .card {
    height: 50vh;
}

.expert img {
    height: 25vh;
}

footer {
    background-color: #f8f9fa;
}

.contact {
    border: 1px solid;
    border-color: lightgray;
    border-radius: 10px;
}

.tag {
    margin-top: 30px
}

.service {
    border: 1px solid;
    border-color: lightgray;
    border-radius: 10px;
}

.form {
    padding: 30px
}

.change-color {
    animation: mymove 10s infinite;
}


/* @keyframes mymove {
    0% {
        color: black;
    }
    25% {
        color: white;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}

@keyframes back {
    0% {
        background-color: white;
    }
    25% {
        background-color: lightgrey;
    }
    50% {
        background-color: lightgrey;
    }
    100% {
        background-color: white;
    }
} */