html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.car-item{
    height: 50vh;
    background: grey;
}

.top-service div {
    padding: 0;
}

.about .card{
    height: 50vh;
}

.footer {
    background-color: #f8f9fa;
}

.contact {
    border: 1px solid;
    border-color: lightgray;
    border-radius: 10px;
}

.tag {
    margin-top: 30px
}

.services {
    border: 1px solid;
    border-color: lightgray;
    border-radius: 10px;
}

.form {
    padding: 30px
}